html, body {
    width: 100%;
    height: 100%;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Anonymous Pro', monospace;
}
.main-wrapper{
	min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}
.container{
	max-width: 960px;
	margin: 0 auto;
}
.wrapper{
	background: #e91e6378;
}
.box{
  position: relative;
  display: block;
  margin-top: 5%;
  height: 600px;
  width: 600px;
}
header h1, nav{
	display: inline-block;
}
header h1{
	width: 30%;
	color: #fff;
}
nav{
	padding-left: 15%;
}
nav a{
	padding: 20px;
  margin: 0 5px;
  text-decoration: none;
  color: #fff;
}
footer{
	padding-bottom: 5px;
	text-align: center;
}
footer a{
	text-decoration: none;
	padding-right: 10px;
}
footer p{
	display: inline-block;
}
.btn{
	text-decoration: none;
	border: 2px solid #e91e6300;
	background: #e91e63a6;
	color: #fff;
	padding: 8px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
.btn:hover{
	color: #000;
}
.bright-box{
	background: #DB7C65;
  z-index: 3;
  position: absolute;
  left: 29%;
  top: 10%;
  width: 23%;
  height: 23%;
  padding: 35px;
  animation: zoom 10s infinite;
}
.bright-box:hover{
	opacity: 0.5;
}
.main{
	text-align: center;
}
#text{
	position: absolute;
	top: 58%;
  left: 46%;
}
#menu, .toggle-menu{
	display: none;
}
@media all and (max-width: 960px){
	header h1{
		width: 100%;
    display: block;
    text-align: center;
	}
	nav{
		width: 100%;
    text-align: center;
    padding-left: 0;
    padding-bottom: 10px;
	}
	#text{
		left: 44%;
	}
}
@media all and (max-width: 460px){
	header h1{
		width: 100%;
    display: block;
    text-align: center;
	}
	nav a{
		display: none;
	}
.toggle-menu{
		display: block;
		padding: 0;
	}
.toggle-menu li{
		list-style: none;
		text-align: center;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
	}
.toggle-menu li:last-child{
		border-bottom: none;
	}
.toggle-menu a{
		text-decoration: none;
		color: #fff;
	}
	.bright-box{
		left: 20%;
	}
	#text{
		top: 80%;
    left: 40%;

	}
}
/*Animation*/
@keyframes zoom {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
 }
}