html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #000;
  overflow-x: hidden;
  font-size: 1em;
  background: linear-gradient(180deg, #1caff6 0, #5accec 100%);
}
.page {
  display: flex;
  flex-wrap: wrap;
}
.logo {
  background: url("img/pokemon_go_logo.png") no-repeat;
  background-position: center;
  background-size: contain;
  width: 13%;
  height: 80%;
}
.logo h1{
  text-indent: -10000px;
}
.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  /*background-color: #5995DA;*/
  height: 80px;
}
nav{
  display: inline-flex;
  height: 100%;
  width: 100%;
}
.left, .right{
  width: 80%; 
  height: 60%;
  margin: auto;
}
.install img{
    position: absolute;
    right: 10%;
}
.header {
  display: inline-block;
  background-color: #B2D6FF;
  background: url("img/ultra-ball.svg") no-repeat;
  background-position: center;
  color: #fff;
}
.header h2{
  position: absolute;
  top: 22%;
  left: 25%;
  text-shadow: 3px 3px 3px #000;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 900;
}
.header h4{
  position: absolute;
  top: 40%;
  left: 30%;
  text-shadow: 3px 3px 3px #000;
  font-size: 1.3em;
}
.content {
  height: 500px;
  /*background: #fff;*/
}
.content img{
  width: 45%;
  z-index: 2;
}
.content .message{
  z-index: 2;
}
.background{
  background: #fff;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  height: 62%;
  width: 67%;
  position: absolute;
  z-index: 1;
}
.sign-up {
  background-color: rgba(120, 200, 250, 0.4);
  flex-direction: column;
}
.download{
  background: url(http://dzvpwvcpo1876.cloudfront.net/blue-app-store.svg) no-repeat;
  background-position: center;
  background-size: auto;
  height: 300px;
  width: 200px;
}
.feats{
  flex-direction: column;
}
.feats p{
  padding: 0 10px;
  text-align: justify;
}
footer{
  background: #EAEDF0;
  display: block;
  box-sizing: border-box;
  padding: 30px;
  margin-top: 30px;
  color: #000;
  text-align: center;
  font-size: 0.7em;
}
/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 33.3%;
  }
  .header {
    height: 60vh;
    margin-bottom: 50px;
  }
  .sign-up {
  height: 200px;
  order: 1;
  }
  .content {
    order: 2;
  }
}
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .sign-up,
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 50%;
  }
  .background{
    display: none;
  }
}
@media only screen and (max-width: 400px){
  .header h2{
    font-size: 3em;
    top: 11%;
    right: 56%;
    text-align: center;
  }
  .header h4{
    top: 50%;
    left: 0%;
    text-align: center;
    text-shadow: none;
    color: #000;
  }
  .logo{
    width: 50%;
    height: 100%;
    margin-top: -15px;
  }
  .download{
    height: 100px;
    padding: 0 25px;
  }
  .background{
    display: none;
  }
}
