body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.banner{
	background: url("images/computer.jpeg") no-repeat;	
	background-size: cover;
	background-position: center;
	height: 45rem;
	text-align: center;
}
.banner h2{
	padding-top: 20%;
	font-size: 3em;
}
.banner p{
	font-size: 1.5em;
}
.banner h2, .banner p{
	color: #fff;
	text-shadow: 2px 2px 2px #000;
}
nav{
	text-align: right;
	display: inline-block;
  margin-left: 42%;
}
nav a{
	text-decoration: none;
	color: #838994;
	margin-right: 25px;
}
.active{
	font-weight: 700;
}
nav a:hover, nav a:active{
	color: #4c5058;
}
.wrapper{
	max-width: 960px;
	margin: 0 auto;
}
.btn{
  text-decoration: none;
  padding: 10px 20px;
  background: #F44336;
  border-radius: 4px;
  color: #fff;
  font-size: 1.3em;
}
.services{
	height: 30rem;
	text-align: center;
}
.services .wrapper{
	border-bottom: 1px solid #ddddddab;
}
.services .wrapper h3{
	margin-top: 100px;
	margin-bottom: 55px;
	font-size: 2em;
}
.features{
	display: inline-block;
	padding-right: 5%;
	padding-bottom: 85px;
}
.features:last-of-type{
	padding-right: 0;
}
header{
	padding-top: 10px;
}
footer{
	text-align: center;
	height: 15rem;
	margin-top: 45px;
}
footer a{
  padding-left: 10px;
  padding-right: 10px
}
.fa-twitter{
	color: #03A9F4;
}
.fa-facebook-f{
	color: #3f57b5;
}
.fa-instagram{
	color: #9c27b0;
}